<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3227186666-9ovd3plflhbg4q2ni0tfi2fddd52mfm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3227186666-9ovd3plflhbg4q2ni0tfi2fddd52mfm1</string>
	<key>API_KEY</key>
	<string>AIzaSyBmbVJsQXpoYS1ttFRT8o9VUhizGIH00bA</string>
	<key>GCM_SENDER_ID</key>
	<string>3227186666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vaibhavrajani.StocksApp</string>
	<key>PROJECT_ID</key>
	<string>blog-9e554</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-9e554.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3227186666:ios:604539986b0d1583beee93</string>
</dict>
</plist>